<div class="container-fluid row">
      
   <div class="col-lg-12">
         <h4 class="pull-left">Bienvenido</h4>
   </div>      
   <div class="col-lg-6">
      <a [routerLink]="['/ventas-tarjetas']" class="btn btn-primary pull-right"><i class="fa fa-credit-card"></i> Vender tarjetas de regalo </a>
   </div>
   <div class="col-lg-6 pull-left">
         <a [routerLink]="['/cambio-regalos']" class="btn btn-success pull-left"><i class="fa fa-credit-card"></i> Cambiar regalos </a>
   </div>
</div>

